body{
    width: 90%;
    max-width: 960px;
    margin: auto;
    background-color: #BD623C;
    top: 20px;
    bottom: 50px;
    position: relative;
    font-family: "Titilium Web", sans-serif;
    font-size: 16px;
    line-height: 28px;
    word-wrap: break-word;
}

h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #BD623C;
    font-family: "amaranth", sans-serif;
    font-size: 36px;
}

h2{
    color: #2F632F;
    text-transform: uppercase;
    font-family: "amaranth", sans-serif;
    font-size: 24px;
}

.titre__ligne{
    border-bottom: 3px solid #688A55;
    width: 300px;
}

.titre__ligne-g{
    border-bottom: 3px solid #688A55;
    width: 200px;
}

/** HEADER **/
header p{
    font-size: 24px;
    text-transform: uppercase;
}
.rectangle{
    background-color:#573E3E;
    padding: 50px 30px 15px 30px;
    margin-top: -60px;
    z-index: 1;
    border: 3px solid #688A55;
}

.img__cindy{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 2;
    border: 3px solid #688A55;
}

header{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/** DEUX COLONNES **/

@media only screen and (min-width: 791px) {
    main{
        display: grid;
        grid-template-columns: 31% 64%;
        margin: 0% 2%;
    }  
    .section__droite{
        margin-left: 10px;
    }
}

.droite .section{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 22% 74%;
}

.section__gauche{
    grid-column: 1;
}

.section__droite{
    grid-column: 2;
}

/** PARTIE DE GAUCHE **/

.section__gauche img{
    width: 20px;
    top: 20px;
    position: relative;
}

.img__mail{
    margin-top: 72px;
}

.img__phone, .img__birthday{
    margin-top: 14px;
}

@media only screen and (min-width: 791px) {
    .img__phone{
        margin-top: 41px;
    }
}

.section-g{
    display: grid;
    grid-template-columns: 10% 90%;
}

.section__g p{
    line-height: 16px;
}

.section__g h2{
    margin-top: 30px;
    position: relative;
}

.gauche{
    margin: 0% 2%;
}

.droite{
    margin: 0% 2%;
}

@media only screen and (min-width: 791px) {
    .gauche{
        border-right: 3px solid #688A55;
    }
}
/** PARTIE DE DROITE **/
.titre{
    font-weight: bold;
}

#forma__gauche p{
    margin-bottom: 42px;
}

#forma__bottom p:nth-child(1){
    margin-bottom: 73px;
}
#forma__bottom p:nth-child(2){
    margin-bottom: 97px;
}
@media only screen and (min-width: 362px) {
    #forma__bottom p:nth-child(1){
        margin-bottom: 45px;
    }
    #forma__bottom p:nth-child(2){
        margin-bottom: 129px;
    }
}

@media only screen and (min-width: 471px) {
    #forma__bottom p:nth-child(2){
        margin-bottom: 99px;
    }
}

@media only screen and (min-width: 506px) {
    #forma__bottom p:nth-child(1){
        margin-bottom: 72px;
    }
    #forma__bottom p:nth-child(2){
        margin-bottom: 127px;
    }
}
@media only screen and (min-width: 589px) {
    #forma__bottom p:nth-child(2){
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 791px) {
    #forma__bottom p:nth-child(1){
        margin-bottom: 44px;
    }
    #forma__bottom p:nth-child(2){
        margin-bottom: 127px;
    }
}
@media only screen and (min-width: 792px) {
    #forma__bottom p:nth-child(2){
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 824px) {
    #forma__bottom p:nth-child(1){
        margin-bottom: 72px;
    }
    #forma__bottom p:nth-child(2){
        margin-bottom: 127px;
    }
}
@media only screen and (min-width: 983px) {
    #forma__bottom p:nth-child(2){
        margin-bottom: 100px;
    }
}

#forma__bottom-2 p:nth-child(1){
    margin-bottom: 44px;
}


@media only screen and (min-width: 400px) {
    #forma__gauche p:nth-child(1){
        margin-bottom: 72px;
    }
}
@media only screen and (min-width: 503px) {
    #forma__gauche p:nth-child(1){
        margin-bottom: 46px;
    }
}
@media only screen and (min-width: 560px) {
    #forma__gauche p:nth-child(1){
        margin-bottom: 16px;
    }
}
@media only screen and (min-width: 769px) {
    #forma__gauche p:nth-child(1){
        margin-bottom: 43px;
    }
}
@media only screen and (min-width: 791px) {
    #forma__gauche p:nth-child(1){
        margin-bottom: 72px;
    }
}
@media only screen and (min-width: 842px) {
    #forma__gauche p:nth-child(1){
        margin-bottom: 45px;
    }
}
@media only screen and (min-width: 937px) {
    #forma__gauche p:nth-child(1){
        margin-bottom: 17px;
    }
}